.rang {
    background: #535353
}

.thead {
    color: #fff;
    background: #8D8D8D;
    font-size: 17px;
    font-weight: 700;
    padding: 12px;
    border-bottom: none;
}

.foot {
    color: #fff;
    background: #535353;
    font-size: 16px;
    line-height: 33px;
    padding: 25px 15px;
}

.dar {
    background: #504f4f;
    color: #fff
}