.rang {
    background: #535353
}

.thead {
    color: #fff;
    background: #8D8D8D;
    font-size: 17px;
    font-weight: 700;
    padding: 12px;
    border-bottom: none;
}

.panel .panel-body .table tbody .action-list {
    display: inline-block;
}

.panel .panel-body .table tbody .action-list a {
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    width: 33px;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list a:hover {
    box-shadow: 0 0 5px #ddd;
}

.foot {
    color: #fff;
    background: #535353;
    font-size: 16px;
    line-height: 33px;
    padding: 25px 15px;
    border-radius: 0;
}

.dar {
    background: #504f4f;
    color: #fff
}