@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.woff2');
    src: local('./fonts/Vazir'), url('./fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype'), url('../fonts/Vazir.svg') format('svg');
}

.bgaad {
    background-color: #eeeaea;
}

.body {
    font-family: "Vazir";
    direction: rtl;
}

.bg-grey {
    background-color: #eae8e8;
}